extends layout

block content
    srcipt(src="abc.js" type="text/javascript")
    div(id="testing" class="sample")
  h1= title
  ul
    li 
        | Employee Name  #{name}

    li 
        | Age #{age}       

    li  
        | Gender #{gender}
        
